face_rec_slack.json
[{"id":"506d93a5.c66794","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"199fddeb.75034a","type":"http in","z":"506d93a5.c66794","name":"Evento","url":"/face_rec/","method":"post","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["23098b85.258ec4"]]},{"id":"7cae38e1.d8e2e8","type":"http response","z":"506d93a5.c66794","name":"Resposta challenge","statusCode":"200","headers":{"content-type":"text/plain"},"x":710,"y":80,"wires":[]},{"id":"67bb5685.3ce608","type":"change","z":"506d93a5.c66794","name":"Key challenge","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.challenge","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":80,"wires":[["7cae38e1.d8e2e8"]]},{"id":"23098b85.258ec4","type":"switch","z":"506d93a5.c66794","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"challenge","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":80,"wires":[["67bb5685.3ce608"],["14f68fbb.ab72","e0289a74.30d98"]]},{"id":"6d5dd4c6.019604","type":"comment","z":"506d93a5.c66794","name":"Procedimento para registro à API Events","info":"","x":580,"y":40,"wires":[]},{"id":"f8a86103.9ccaa","type":"inject","z":"506d93a5.c66794","name":"Teste","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":700,"wires":[["66d44851.c0076"]]},{"id":"1a57e7f4.cc08f8","type":"http request","z":"506d93a5.c66794","name":"OBTEM MEMBROS","method":"GET","ret":"obj","paytoqs":true,"url":"https://slack.com/api/users.list","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":700,"wires":[["63a55d34.101494"]]},{"id":"66d44851.c0076","type":"template","z":"506d93a5.c66794","name":"TOKEN","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"token\":\"xoxp-836956921860-836956922196-839379010295-48838de90e42af7ea01ec1d9058a8cfa\",\n\"pretty\":\"1\"}","output":"json","x":280,"y":700,"wires":[["1a57e7f4.cc08f8"]]},{"id":"63a55d34.101494","type":"change","z":"506d93a5.c66794","name":"Isolate members","rules":[{"t":"move","p":"payload.members","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":700,"wires":[["46352433.a9e10c"]]},{"id":"46352433.a9e10c","type":"split","z":"506d93a5.c66794","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":860,"y":700,"wires":[["cec4c8df.926bc"]]},{"id":"541e595.5f1fba8","type":"change","z":"506d93a5.c66794","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.profile.image_512","tot":"msg"},{"t":"set","p":"filename","pt":"msg","to":"\"known_people/\" & payload.real_name & \".png\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":840,"wires":[["bda1dc12.fb6ec"]]},{"id":"bda1dc12.fb6ec","type":"http request","z":"506d93a5.c66794","name":"OBTEM IMG","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":840,"wires":[["11ed5aa.cbb8425"]]},{"id":"11ed5aa.cbb8425","type":"file","z":"506d93a5.c66794","name":"SALVA IMAGEM","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":640,"y":840,"wires":[[]]},{"id":"567af8b8.9eafd","type":"comment","z":"506d93a5.c66794","name":"Obtem o Avatar de todos os membros e chama atualizar imagens","info":"","x":330,"y":660,"wires":[]},{"id":"14f68fbb.ab72","type":"switch","z":"506d93a5.c66794","name":"","property":"payload.event.type","propertyType":"msg","rules":[{"t":"eq","v":"user_change","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":220,"wires":[["7e6e4374.1ea1ac"],["8fd0677f.788488"],[]]},{"id":"a902c589.d45f","type":"comment","z":"506d93a5.c66794","name":"Baixa as imagens e atualiza na pasta known_people","info":"","x":290,"y":800,"wires":[]},{"id":"7723245a.95c024","type":"link out","z":"506d93a5.c66794","name":"","links":["903e1083.257be8","dc4e98d5.5049","4c622de1.2fb33c"],"x":855,"y":200,"wires":[]},{"id":"7e6e4374.1ea1ac","type":"change","z":"506d93a5.c66794","name":"Alteração de perfil de usuario","rules":[{"t":"move","p":"payload.event.user","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[["7723245a.95c024"]]},{"id":"dc4e98d5.5049","type":"link in","z":"506d93a5.c66794","name":"","links":["7723245a.95c024","cec4c8df.926bc"],"x":95,"y":840,"wires":[["541e595.5f1fba8"]]},{"id":"cec4c8df.926bc","type":"link out","z":"506d93a5.c66794","name":"","links":["903e1083.257be8","dc4e98d5.5049","4c622de1.2fb33c"],"x":975,"y":700,"wires":[]},{"id":"d4a38614.081038","type":"file","z":"506d93a5.c66794","name":"SALVA IMG","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":570,"y":400,"wires":[["649b4321.7fa9c4"]]},{"id":"3518aa13.02700e","type":"change","z":"506d93a5.c66794","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.event.files.0.url_private","tot":"msg"},{"t":"set","p":"filename","pt":"msg","to":"\"unknown_people/\" & \"unknown.png\"","tot":"jsonata"},{"t":"set","p":"channel","pt":"msg","to":"payload.event.channel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":400,"wires":[["75f9bf94.40be5"]]},{"id":"75f9bf94.40be5","type":"http request","z":"506d93a5.c66794","name":"OBTEM IMAGEM","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"bearer","x":370,"y":400,"wires":[["d4a38614.081038"]]},{"id":"8fd0677f.788488","type":"switch","z":"506d93a5.c66794","name":"Se imagem","property":"payload.event.files.0.mimetype","propertyType":"msg","rules":[{"t":"cont","v":"image","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":320,"wires":[["18ef7bee.12eaa4"]]},{"id":"649b4321.7fa9c4","type":"exec","z":"506d93a5.c66794","command":"python3 ~/.local/lib/python3.6/site-packages/face_recognition/face_recognition_cli.py ~/known_people ~/unknown_people","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Roda face_recognition","x":780,"y":400,"wires":[["ceeb55e1.5fc4a8"],[],[]]},{"id":"ceeb55e1.5fc4a8","type":"split","z":"506d93a5.c66794","name":"Cada linha","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":170,"y":480,"wires":[["2003c641.13a922"]]},{"id":"2003c641.13a922","type":"switch","z":"506d93a5.c66794","name":"Ñ WARNING?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"WARNING","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":480,"wires":[[],["33ec1431.69334c"]],"outputLabels":["SIM","NÂO"]},{"id":"33ec1431.69334c","type":"split","z":"506d93a5.c66794","name":"Entre vírgula","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":480,"wires":[["b60ed983.37f9a"]]},{"id":"b60ed983.37f9a","type":"switch","z":"506d93a5.c66794","name":"FACE CONHECIDA?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"unknown","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":480,"wires":[[],["1740face.47dadd"]],"outputLabels":["NÂO","SIM"]},{"id":"4c6630be.5d9ec8","type":"http request","z":"506d93a5.c66794","name":"POSTA RESULTADO","method":"GET","ret":"obj","paytoqs":true,"url":"https://slack.com/api/chat.postMessage","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":560,"wires":[[]]},{"id":"55bf3df7.bc6c94","type":"template","z":"506d93a5.c66794","name":"FORMA MENSAGEM","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"token\":\"xoxp-836956921860-836956922196-839379010295-48838de90e42af7ea01ec1d9058a8cfa\",\n\"channel\":\"{{channel}}\",\n\"text\":\"Pessoas reconhecidas na foto:\\n{{payload}}\",\n\"pretty\":\"1\"}","output":"json","x":540,"y":560,"wires":[["4c6630be.5d9ec8"]]},{"id":"18ef7bee.12eaa4","type":"switch","z":"506d93a5.c66794","name":"Se primeiro objeto do evento","property":"req.rawHeaders.8","propertyType":"msg","rules":[{"t":"cont","v":"X-Slack-Signature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":320,"wires":[["3518aa13.02700e"]]},{"id":"e0289a74.30d98","type":"http response","z":"506d93a5.c66794","name":"Resposta Ok","statusCode":"200","headers":{"content-type":"text/plain"},"x":470,"y":160,"wires":[]},{"id":"1740face.47dadd","type":"function","z":"506d93a5.c66794","name":"CLASSIFICA","func":"if (msg.payload === \"\"){\n    if (flow.people){\n        msg.payload = flow.people\n    }\n    else{\n        msg.payload = \"Nenhuma\"\n    }\n    flow.people=\"Nenhuma\"\n    return msg\n}\nelse if(msg.payload === \"no_persons_found\"){\n    flow.people = \"nothing\"\n}\nelse{\n    if ((flow.people === \"Nenhuma\")||(!flow.people)){\n        flow.people = msg.payload\n    }\n    else{\n        flow.people = flow.people + \"\\n\" + msg.payload\n    }\n}\n","outputs":1,"noerr":0,"x":170,"y":560,"wires":[["1016d640.b0f62a"]]},{"id":"1016d640.b0f62a","type":"switch","z":"506d93a5.c66794","name":"FACES?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"nothing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":560,"wires":[["55bf3df7.bc6c94"]],"outputLabels":["SIM"]},{"id":"bc60b18c.17106","type":"comment","z":"506d93a5.c66794","name":"Imagem postada. Obtém imagem e tenta reconhecer as faces.","info":"","x":660,"y":280,"wires":[]},{"id":"2096ff8d.cdae6","type":"comment","z":"506d93a5.c66794","name":"Perfil atualizado. Atualiza imagem de perfil.","info":"","x":720,"y":160,"wires":[]}]